// login
$login-off: #e05d10;
$login-On: #c5510d;

// product
$light-org: #d96025d9;
$main-col:#dcd2d3;
$dark: #2A2E2D;
$btn-cancel: #212529;
$btn-del:#e43a3ade;
$addcart: #d87836;
$Cyan: #4c9db5;
$org: #d85d22;
$MJ:Microsoft JhengHei;