/*-- boder ami --*/
.sideline {
  color: $light;
  font-weight: bold;
}
.sideline::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  margin: 5px auto 0 auto;
  background: $light;
  transition: width 0.5s;
  clear: both;
}
.sideline:hover::after {
  width: 50%;
}
