@media (max-width: 1215px) {
  // header
  .header-navbar {
    padding: 1em 1em;
    nav {
      align-items: center;
    }
    &.active {
      padding: 0.8em 1em;
    }
  }
  .front-menu {
    display: none;
  }
  // menu
  .moblie-menu {
    display: block;
    color: $main-col;
    cursor: pointer;
    .fa-bars {
      font-size: 24px;
    }
  }
  .aside {
    display: block;
  }
  .m-menu-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(92, 88, 88, 0.151);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    transition: all 0.5s;
    &.active {
      display: inline-block;
    }
  }
  aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: $dark;
    width: 250px !important;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0px 0px 8px 2px #0b0c0c;
    -webkit-transform: translateX(-299px);
    transform: translateX(-299px);
    transition: all 0.5s;
    .m-close {
      padding: 10px;
      font-size: 20px;
      display: inline-block;
      float: right;
      color: #fff;
    }
  }
  .m-menu {
    clear: both;
    li {
      position: relative;
      color: #fff;
      i {
        position: absolute;
        top: 15px;
        left: 15px;
      }
      a {
        background: $dark;
        color: #fff;
        padding: 1em;
        display: block;
        span {
          margin-left: 24px;
        }
        &.active {
          transform: translateX(15px);
          .m-cart {
            transform: translateX(-15px);
          }
        }
      }
    }
  }
  .open {
    aside {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }
  }
  .header-navbar .logo > a {
    font-size: 26px;
  }
  .front-login {
    display: block;
    font-size: 24px;
    a {
      padding: 1.3em 0.8em;
    }
  }
  .rwd-footer {
    justify-content: space-around;
  }
}
@include pad() {
  // header
  .header-navbar {
    padding: 1em 0px;
    nav {
      align-items: center;
    }
    &.active {
      padding: 0.8em 0em;
    }
  }
  .header-navbar .logo > a {
    font-size: 20px;
  }
  .front-login {
    display: none;
  }
  // footer
  .footer-navbar {
    padding: 1em 0;
  }
  .footer-logo {
    margin-bottom: 10px;
  }
  .rwd-footer {
    flex-direction: column;
    align-items: center;
  }
}
