@include desktop(){
  .pro-content-box{
    h4,.fa-bookmark{
      font-size: 22px;
    }
    p{
      font-size: 18px;
    }
    .product-price{
      font-size: 18px;
    }
  }
  .tab-content{
    p,ul{
      letter-spacing: 2px;
      line-height: 24px;
    }
  }
}
@include pad(){
  .tab-content {
    overflow: scroll;
    .profile,.return{
      width: 120%;
    }
  }
}
@include iphone(){
  .product-img {
    height: 260px;
  }
  .nav-link {
    padding: 0.5rem;
  }
  .tab-content {
    .profile,.return{
      width: 180%;
    }
  }
}