// banner
.product-banner {
  @include ban-box;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1673377755674-02cff644af8d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  h2 {
    @include ban-tit;
  }
}
.custom-container {
  padding-left: 90px;
  padding-right: 90px;
}
.breadcrumb {
  background-color: rgba(60, 60, 60, 0.05);
}
.breadcrumb-item > a {
  font-weight: bold;
  padding-bottom: 3px;
  color: #474c4b;
  &:hover {
    color: $dark;
  }
}
// 相關商品
.over-hidden {
  overflow: hidden;
}
.same-content {
  padding: 10px;
  font-weight: bold;
  h5 {
    font-size: 18px;
  }
}
.product-box {
  margin: 0 9em;
  overflow: hidden;
}
// 產品內容樣式
.pro-content-box {
  color: #2a2e2d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h4 {
    font-size: 20px;
    font-weight: bold;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
    color: #1d1a1a;
  }
}
.product-img {
  width: 100%;
  height: 300px;
  border: 1px solid #848282;
  box-shadow: 0 0 15px inset #c3c3c3;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* 平滑過渡效果 */
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15) !important;
    transform: scale(1.05); /* 放大效果 */
  }
}
.product-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.product-price {
  font-size: 16px;
  color: #e26f22;
}
.product-origin-price {
  text-decoration: line-through;
  font-size: 12px;
  color: #7a7a8e;
}
.tags-size {
  font-size: 20px;
}
//商品介紹及說明
.nav-item {
  a {
    color: #565656 !important;
    font-weight: bold;
    letter-spacing: 2px;
    &.active {
      background-color: #dfe5ea !important;
      border-color: #dfe5ea !important;
      color: $dark !important;
    }
  }
}
.tab-content {
  background-color: #dfe5ea;
  padding: 2em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #dee2e6;
}
// swiper
.swiper-container {
  padding-bottom: 35px;
}
.shopping {
  cursor: pointer;
  color: #2a2e2d;
  overflow: hidden;
  background: #c1c7c5;
  .identical-img {
    max-width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    transition: transform 1.2s;
  }
  &:hover {
    .identical-img {
      transform: scale(1.1);
    }
  }
}
.swiper-pagination-bullet {
  width: 15px;
  height: 5px;
  border-radius: 30%;
}
:root {
  --swiper-theme-color: #2a2e2d;
}
