// banner
.user-banner {
  @include ban-box;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1673377755674-02cff644af8d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  h2 {
    @include ban-tit;
  }
}

.user-login-box {
  height: 100vh;
}

.hover-image {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-image:hover {
  transform: scale(1.1); /* 放大效果 */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* 陰影效果 */
}

.user-member-box {
  height: 100vh;
}

.profile-img {
  height: 100px !important;
  width: 100px !important;
  border-radius: 50% !important;
  cursor: pointer;
}
.d-none {
  display: none;
}

// 登入標題
.user-login-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid;
  margin-bottom: 20px;
  color: #186b84;
  h3 {
    font-weight: bolder;
    font-size: 30px;
    line-height: 24px;
    padding-bottom: 5px;
  }
}
// 登入下面的樣式
.user-login-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 10px;
}
